.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1171px;
    padding: 0 15px;
    // padding: 40px 20px 0 20px;

//   @media screen and (min-width: 768px) {
//     max-width: 768px;
//     padding-left: 32px;
//     padding-right: 32px;
//   }

//   @media screen and (min-width: 1440px) {
//     max-width: 1440px;
//     padding-left: 24px;
//     padding-right: 24px;
//   }
// }
}


.page {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.button {
  background-image: $red-color;
  color: $white-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  text-transform: uppercase;
}

.text {
  font-weight: 700;
  text-transform: uppercase;
  color: $black-color;
}

