.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1172px;
  padding: 0 15px;
}

// @media (max-width: 1024px) {

// }

// @media (max-width: 768px) {

// }
@media (max-width: 480px) {
  .container {
    padding: 0 32px;
  }
}

.page {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

// .phone-link:hover,
// .phone-link:focus {
//   background-image: linear-gradient(180deg, #c41e20 100%, #ea5c68 0%);
// }

.text {
  font-weight: 700;
  text-transform: uppercase;
  color: $black-color;
}
