$white-color: #FFFFFF;
$grey-color: #B2B2B2;
$red-color: linear-gradient(180deg, #EA5C68 0%, #C41E20 100%);
$dark-color: #1D1D1B;
$black-color:#000000;
$bgr-color: linear-gradient(180deg, #E8E8E8 0%, #C8C7C8 100%);

$anim-tranz-parameters: 250ms cubic-bezier(0.4, 0, 0.2, 1);