<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages-title text">Наші переваги</h2>
    <div class="advantages-list">
      <div class="advantages-card">
        <img
          src="./icons/advantages-1.svg"
          alt=""
          class="advantages-card-icon"
        />
        <p class="advantages-card-text">
          Виготовлення з низьковуглецевої <br />
          сталі 3-4мм
        </p>
      </div>

      <div class="advantages-card">
        <img
          src="./icons/advantages-2.svg"
          alt=""
          class="advantages-card-icon"
        />
        <p class="advantages-card-text">
          Безшовне утеплення пінополіуретаном (німецького виробництва)
        </p>
      </div>

      <div class="advantages-card">
        <img
          src="./icons/advantages-3.svg"
          alt=""
          class="advantages-card-icon"
        />
        <p class="advantages-card-text">
          Виготовляємо під індивідуальні розміри
        </p>
      </div>
    </div>
  </div>
</section>
