<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="advantages-title text">Переваги</h2>
    <div class="advantages-list">
      <div class="advantages-card">
        <img
          src="./icons/advantages-3.svg"
          alt=""
          class="advantages-card-icon"
        />
        <p class="advantages-card-text">
          Виготовляємо під індивідуальні розміри з можливістю брендування
        </p>
      </div>

      <div class="advantages-card">
        <img
          src="./icons/advantages-1.svg"
          alt=""
          class="advantages-card-icon"
        />
        <p class="advantages-card-text">
          2 тижні - термін виробництва
        </p>
      </div>

      <div class="advantages-card">
        <img
          src="./icons/advantages-2.svg"
          alt=""
          class="advantages-card-icon"
        />
        <p class="advantages-card-text">
          Ємності підходять для тепло- та холодопостачання
        </p>
      </div>
    </div>
  </div>
</section>
