<section class="banner">
    <div class="container">
        <div class="banner-wrapper">
            <div class="banner-wrapper-info text">
                <h1 class="banner-title">
                    Welder
                </h1>
                <p class="banner-text">Виробник буферних ємностей в <span class="banner-text-bold">Україні</span></p>
                <a class="phone-link banner-phone-link" href="tel:+38097997473">
                    <svg class="banner-phone-link-icon" width="20" height="20">
                        <use href="./icons/sprite.svg#icon-phone" ></use>
                    </svg>
                    097 9797 473
                </a>
            </div>
            <div class="banner-wrapper-picture">
                <img src="./images/welder-banner.png" alt="">
            </div>
        </div>
    </div>
</section>