<section class="banner">
    <div class="container">
        <div class="banner-wrapper text">
            <div class="banner-wrapper-left">
                <h1 class="banner-title">
                    Welder
                </h1>
                <p class="banner-text">Виробник буферних ємностей в <span class="banner-text-bold">Україні</span></p>
                <button class="banner__order-btn button" type="button">Замовити</button>
            </div>
            <div class="banner-wrapper-right"></div>
        </div>
    </div>
</section>