<section class="characteristics" id="characteristics">
  <div class="container">
    <h2 class="characteristics-subtitle text">Характеристики</h2>
    <div class="characteristics-list">
      <div class="characteristics-card">
        <img
          src="./icons/characteristics-1.svg"
          class="characteristics-card-icon"
          alt=""
        />
        <p class="characteristics-card-text">Обєм 100-2000мл</p>
      </div>

      <div class="characteristics-card">
        <img
          src="./icons/characteristics-2.svg"
          class="characteristics-card-icon"
          alt=""
        />
        <p class="characteristics-card-text">Товщина сталі 3-4 мм</p>
      </div>

      <div class="characteristics-card">
        <img
          src="./icons/characteristics-3.svg"
          class="characteristics-card-icon"
          alt=""
        />
        <p class="characteristics-card-text">
          Робочий тиск 6 BAR (max 10BAR)
        </p>
      </div>

      <div class="characteristics-card">
        <img
          src="./icons/characteristics-4.svg"
          class="characteristics-card-icon"
          alt=""
        />
        <p class="characteristics-card-text">
          Утеплення безшовним пінополіуретаном товщиною 50 мм або мінеральною ватою
        </p>
      </div>

      <div class="characteristics-card">
        <img
          src="./icons/characteristics-5.svg"
          class="characteristics-card-icon"
          alt=""
        />
        <p class="characteristics-card-text">
          Можливість одночасного підключення джерел тепло- та холодопостачання
        </p>
      </div>

      <div class="characteristics-card">
        <img
          src="./icons/characteristics-6.svg"
          class="characteristics-card-icon"
          alt=""
        />
        <p class="characteristics-card-text">
          Робоча температура -10°С - +100°С
        </p>
      </div>
    </div>
  </div>
</section>
