<section class="characteristics" id="characteristics">
  <div class="container">
    <h2 class="characteristics-subtitle text">Характеристики</h2>
    <div class="characteristics-list">
      <div class="characteristics-card">
        <img
          src="./icons/characteristics-1.svg"
          class="characteristics-card-icon"
          alt=""
        />
        <p class="characteristics-card-text">Обєм 50-200мл</p>
      </div>

      <div class="characteristics-card">
        <img
          src="./icons/characteristics-2.svg"
          class="characteristics-card-icon"
          alt=""
        />
        <p class="characteristics-card-text">Товщина сталі до 5 мм</p>
      </div>

      <div class="characteristics-card">
        <img
          src="./icons/characteristics-3.svg"
          class="characteristics-card-icon"
          alt=""
        />
        <p class="characteristics-card-text">
          Тиск max 10 bar (робочий тиск 6 bar)
        </p>
      </div>

      <div class="characteristics-card">
        <img
          src="./icons/characteristics-4.svg"
          class="characteristics-card-icon"
          alt=""
        />
        <p class="characteristics-card-text">
          Теплова ізоляція 50 мм спіненим пінополіуретаном німецького виробника
        </p>
      </div>

      <div class="characteristics-card">
        <img
          src="./icons/characteristics-5.svg"
          class="characteristics-card-icon"
          alt=""
        />
        <p class="characteristics-card-text">
          Розрахований на роботу з багатьма джерелами тепла та холоду
        </p>
      </div>

      <div class="characteristics-card">
        <img
          src="./icons/characteristics-6.svg"
          class="characteristics-card-icon"
          alt=""
        />
        <p class="characteristics-card-text">
          Температурний режим тепло-холодоносія -10°C - +100°C
        </p>
      </div>
    </div>
  </div>
</section>
