<section class="description">
    <div class="description-wrapper">
        <div class="description-wrapper-info">
            <div class="description__position container">
                <div class="description-wrapper-text">
                    <h2 class="description-subtitle text">
                        Легко налаштувати <span class="description-subtitle_hot">тепло-</span> та
                        <span class="description-subtitle_cold">холодо</span>постачання
                    </h2>
                    <p class="description-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel lorem sit amet magna tincidunt posuere sed in ante. Mauris a dolor Lorem ipsum dolor sit
                    </p>
                    <p class="description-text">
                        r sit amet, consectetur adipiscing elit. Cras vel lorem sit amet magna tincidunt
                    </p>
                </div>
            </div>
        </div>
        <div class="description-wrapper-logo"></div>
    </div>
</section>