<section class="description" id="description">
  <div class="description-wrapper">
    <div class="description-wrapper-info">
      <div class="description__position container">
        <div class="description-wrapper-text">
          <h2 class="description-subtitle text">
            Акумулюючі ємності WELDER для
            <span class="description-subtitle_hot">тепло-</span> та
            <span class="description-subtitle_cold">холодо</span>постачання
          </h2>
          <p class="description-text">
            Наша буферна ємність виготовляються з низьковуглецевої сталі
            товщиною 3-4мм. Кожна ємність має антикорозійне покриття з зовні та
            всередині для створення водонепроникного бар'єру.
          </p>
          <p class="description-text">
            Для високої теплоізоляції буферної ємності утеплюється
            пінополіуретаном (німецького виробництва)товщиною 50 мм, який
            забезпечує хороший рівень термо-, гідро- та шумоізоляції.
          </p>
        </div>
      </div>
    </div>
    <div class="description-wrapper-logo"></div>
  </div>
</section>
