<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-wrapper-left">
        <a href="#">
          <img
            class="footer-logo-icon"
            src="./icons/logo.svg"
            alt="welder logo"
          />
        </a>
      </div>

      <div class="footer-wrapper-right">
        <div class="footer-menu">
          <div class="footer-menu-column footer-menu-column-first">
            <a href="#characteristics" class="menu-link-footer"
              >Характеристики</a
            >
            <a href="#advantages" class="menu-link-footer">Переваги</a>
          </div>

          <div class="footer-menu-column footer-menu-column-second">
            <a href="#size" class="menu-link-footer">Ваш розмір</a>
            <a href="#description" class="menu-link-footer">Налаштування</a>
          </div>

          <div class="footer-menu-column footer-menu-column-third">
            <a href="#model" class="menu-link-footer">Розміри</a>
            <a href="#order" class="menu-link-footer">Контакти</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-inner">
      <p class="footer-description">
        &copy; 2023 ТОВ «WELDER» Виробник буферних ємностей в Україні
      </p>
    </div>
  </div>
</footer>
