<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a href="#" class="header-logo-link">
        <img src="./icons/logo.svg" alt="company logo" />
      </a>
      <div class="header-menu">
        <a href="#" class="header-menu-link">Наші переваги</a>
        <a href="#" class="header-menu-link">Налаштування</a>
        <a href="#" class="header-menu-link">Розміри</a>
        <a href="#" class="header-menu-link">Ваш розмір</a>
        <a href="#" class="header-menu-link">Характеристики</a>
        <a href="#" class="header-menu-link">Контакти</a>
      </div>

      <button type="button" class="menu-open-button data-menu-open">
        <svg class="menu-open-icon" width="43" height="43">
          <use href="./icons/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>

      <div class="mobile-menu is-open data-menu">
        <button type="button" class="menu-close-button data-menu-close">
          <svg class="menu-close-icon" width="24" height="24">
            <use href="./icons/sprite.svg#icon-close-cross"></use>
          </svg>
        </button>
        <div class="mobile-menu-list">
          <a href="#" class="mobile-menu-link">Наші переваги</a>
          <a href="#" class="mobile-menu-link">Налаштування</a>
          <a href="#" class="mobile-menu-link">Розміри</a>
          <a href="#" class="mobile-menu-link">Ваш розмір</a>
          <a href="#" class="mobile-menu-link">Характеристики</a>
          <a href="#" class="mobile-menu-link">Контакти</a>
        </div>
      </div>
    </div>
  </div>
</header>
