<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <a href="#" class="header-logo-link">
                <img src="./icons/logo.svg" alt="company logo">
            </a>
            <div class="header-menu">
                <a href="#" class="header-link">Наші переваги</a>
                <a href="#" class="header-link">Налаштування</a>
                <a href="#" class="header-link">Розміри</a>
                <a href="#" class="header-link">Ваш розмір</a>
                <a href="#" class="header-link">Характеристики</a>
                <a href="#" class="header-link">Контакти</a>
            </div>
        </div>
    </div>
</header>