<section class="hero">
    <div class="container">
        <div class="hero-wrapper">
            <div class="hero-wrapper-left">
                <h1 class="hero-title">
                    Welder
                </h1>
                <p class="hero-text">Виробник буферних ємностей в <span class="hero-text_bold">Україні</span></p>
                <button class="hero-order_btn" type="button">Замовити</button>
            </div>
            <div class="hero-wrapper-right"></div>
        </div>
    </div>
</section>