<section class="order">
  <img src="./images/makeOrder.jpg" alt="" class="order-banner" />
  <div class="container">
    <div class="order-wrapper">
      <div class="order-wrapper-left" id="order">
        <div class="order-red-diamond order-top"></div>
        <h2 class="contacts-title text">Контакти</h2>
        <ul class="contacts-list">
          <li class="contacts-item">
            <a class="contacts-item-link" href="tel:+380979797473"
              >+38 097 97 97 473</a
            >
          </li>
          <li class="contacts-item">
            <a class="contacts-item-link" href="mailto:welderbuffer@gmail.com"
              >welderbuffer@gmail.com</a
            >
          </li>
          <li class="contacts-item">
            <a
              class="contacts-item-link"
              href="https://maps.app.goo.gl/JvAVSSz9s8Lsz4kt8"
              target="_blank"
              >м. Рівне, вул. Володимира Стельмаха, 18Д</a
            >
          </li>
        </ul>
        <div class="order-red-diamond order-bottom"></div>
      </div>

      <div class="order-wrapper-right">
        <h2 class="order-title">
          Замовити у <span class="order-title-bold">Welder</span>
        </h2>
        <a href="tel:+380979797473" class="order-phone-link"
          ><svg class="banner-phone-link-icon" width="20" height="20">
            <use href="./icons/sprite.svg#icon-phone"></use>
          </svg>
          097 97 97 473</a
        >
      </div>
    </div>
  </div>
</section>
