<section class="order" id="order">
  <img src="./images/order-img.jpg" alt="" class="order-banner" />
  <div class="container">
    <div class="order-wrapper">
      <div class="order-wrapper-left">
        <div class="order-red-diamond order-top"></div>
        <h2 class="contacts-title text">Контакти</h2>
        <ul class="contacts-list">
          <li class="contacts-item">
            <a class="contacts-item-link" href="tel:+380979797473"
              >+38 097 9797 473</a
            >
          </li>
          <li class="contacts-item">
            <a class="contacts-item-link" href="mailto:info@devstudio.com"
              >info.welder1@gmail.com</a
            >
          </li>
          <li class="contacts-item">
            <a
              class="contacts-item-link"
              href="https://goo.gl/maps/hH8APt7ifSu51sFB9"
              target="_blank"
              >м.Рівне Володимира Стельмаха 18 Д</a
            >
          </li>
          <li class="contacts-item">
            <div class="socials">
              <a class="socials-link">
                <img src="./icons/facebook.svg" alt="" target="_blank" />
              </a>
              <a class="socials-link">
                <img src="./icons/instagram.svg" alt="" target="_blank" />
              </a>
              <a class="socials-link">
                <img src="./icons/email.svg" alt="" target="_blank" />
              </a>
            </div>
          </li>
        </ul>
        <div class="order-red-diamond order-bottom"></div>
      </div>

      <div class="order-wrapper-right">
        <h2 class="order-title">
          Замовити у <span class="order-title-bold">Welder</span>
        </h2>
        <a href="tel:+38097997473" class="order-phone-link"
          ><svg class="banner-phone-link-icon" width="20" height="20">
            <use href="./icons/sprite.svg#icon-phone"></use>
          </svg>
          097 9797 473</a
        >
      </div>
    </div>
  </div>
</section>
