<section class="order">
    <div class="order-banner">
        <div class="order-wrapper">

            <div class="order-wrapper-left">
                <h2>Замовити буферну ємність</h2>
                <form action="">
                    <div class="order-field">
                        <label for="user-phone"></label>
                        <input
                          type="text"
                          id="user-phone"
                          class="order-user-phone"
                          type="text"
                          name="user-phone"
                          placeholder="Введіть ваш номер"
                        />
                      </div>
                </form>
                <button type="button" class="order-btn ">Зателефонуйте мені</button>
            </div>

            <div class="order-wrapper-right">
                <h2>Контакти</h2>
                <ul class="contacts-list">
                    <li class="contscts-item">
                        <a href="">+38 097 9797 473</a>
                    </li>
                    <li class="contscts-item">
                        <a href="">Welder@gmail.com</a>
                    </li>
                    <li class="contscts-item">
                        <a href="">вул.Шевченка</a>
                    </li>
                    <li class="contscts-item">
                        <div class="socials">
                            <a class="socials-link">
                                <svg class="solials-icon">
                                    <use></use>
                                </svg>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>