<section class="model">
    <div class="container">
        <h2 class="model-title text">Оберіть свою модель</h2>

        <div class="swiper-list">
            <div class="swiper-card">
                <img src="./images/swiper-1000.jpg" alt="">
                <img src="./icons/swiper-icon-1000.svg" alt="">
            </div>

            <div class="swiper-card">
                <img src="./images/swiper-100.jpg" alt="">
                <img src="./icons/swiper-icon-1000.svg" alt="">
            </div>
        </div>
    </div>
</section>

