<section class="model" id="model">
  <div class="container">
    <h2 class="model-title text">
      Типові розміри
    </h2>

    <div class="swiper-list">
      <div class="slider">
        <div class="swiper-card">
          <div class="swiper-card-wrapper">
            <img
              class="slider-img"
              src="./images/slider-100.jpg"
              alt="scheme of the storage capacity"
            />
            <img
              class="slider-img"
              src="./icons/swiper-icon-100.svg"
              alt="liters"
            />
          </div>
        </div>
        <div class="swiper-card">
          <div class="swiper-card-wrapper">
            <img
              class="slider-img"
              src="./images/slider-200.jpg"
              alt="scheme of the storage capacity"
            />
            <img
              class="slider-img"
              src="./icons/swiper-icon-200.svg"
              alt="liters"
            />
          </div>
        </div>
        <div class="swiper-card">
          <div class="swiper-card-wrapper">
            <img
              class="slider-img"
              src="./images/slider-300.jpg"
              alt="scheme of the storage capacity"
            />
            <img
              class="slider-img"
              src="./icons/swiper-icon-300.svg"
              alt="liters"
            />
          </div>
        </div>
        <div class="swiper-card">
          <div class="swiper-card-wrapper">
            <img
              class="slider-img"
              src="./images/slider-500.jpg"
              alt="scheme of the storage capacity"
            />
            <img
              class="slider-img"
              src="./icons/swiper-icon-500.svg"
              alt="liters"
            />
          </div>
        </div>

        <div class="swiper-card">
          <div class="swiper-card-wrapper">
            <img
              class="slider-img"
              src="./images/slider-800.jpg"
              alt="scheme of the storage capacity"
            />
            <img
              class="slider-img"
              src="./icons/swiper-icon-800.svg"
              alt="liters"
            />
          </div>
        </div>

        <div class="swiper-card">
          <div class="swiper-card-wrapper">
            <img
              class="slider-img"
              src="./images/slider-1000.jpg"
              alt="scheme of the storage capacity"
            />
            <img
              class="slider-img"
              src="./icons/swiper-icon-1000.svg"
              alt="litersnpnpm"
            />
          </div>
        </div>
      </div>
      <button class="custom-prev-arrow" type="button">
        <img
          src="./icons/prev-arrow.svg"
          class="custom-prev-arrow-icon"
          alt="arrow"
        />
      </button>
      <button class="custom-next-arrow" type="button">
        <img
          src="./icons/next-arrow.svg"
          class="custom-prev-arrow-icon"
          alt="arrow"
        />
      </button>
    </div>
  </div>
</section>
