<section class="settings">
    <div class="container">
        <div class="settings-wrapper">
            <div class="settings-wrapper-left">
                <h2 class="settings-subtitle text">
                    Легко налаштувати <span class="settings-subtitle_hot">тепло-</span> та
                    <span class="settings-subtitle_cold">холодо</span>постачання
                </h2>
                <p class="settings-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel lorem sit amet magna tincidunt posuere sed in ante. Mauris a dolor Lorem ipsum dolor sit
                </p>
                <p class="settings-text">
                    r sit amet, consectetur adipiscing elit. Cras vel lorem sit amet magna tincidunt
                </p>
            </div>
            <div class="settings-wrapper-right">
                <img src="./images/size-img.jpg" alt="welder-logo" class="settings-img">
            </div>
        </div>
    </div>
</section>