<section class="size">
    <!-- <div class="container"> -->
        <div class="red-diamond top"></div>
            <div class="size-wrapper">
                <div class="size-wrapper-info">
                    <div class="size-position container">
                        <div class="size-text-inner">
                            <h2 class="size-subtitle text">Ваш розмір</h2>
                            <p class="size-text">
                                Є можливість виготовлення під індивідуальні розміри та потреби замовника
                            </p>
                        </div>
                    </div>
                    <div class="size-1"></div>
                </div>
                <div class="size-wrapper-picture"></div>
            </div>
    <div class="red-diamond bottom"></div>
    <!-- </div> -->
</section>