<section class="size">
    <div class="container">
        <div class="size-wrapper">
            <div class="size-wrapper-left">
                <h2 class="size-subtitle"></h2>
                <p class="size-text">Є можливість виготовлення під індивідуальні розміри та потреби замовника</p>
                <!-- <img src="" alt="" class="size-img-meter"> -->
            </div>
            <div class="size-wrapper-right">
                <!-- <img src="" alt="" class="size-img-worker"> -->
            </div>
        </div>
    </div>
</section>