<section class="settings">
    <div class="container">
        <div class="settings-wrapper">
            <div class="settings-wrapper-left">
                <h2 class="settings-subtitle"></h2>
                <p class="settings-text">Є можливість виготовлення під індивідуальні розміри та потреби замовника</p>
                <!-- <img src="" alt="" class="settings-img-meter"> -->
            </div>
            <div class="settings-wrapper-right">
                <!-- <img src="" alt="" class="settings-img-worker"> -->
            </div>
        </div>
    </div>
</section>