.banner {
    background-image: $bgr-color;
    padding-top: 138px;
    padding-bottom: 76px;

    &-wrapper {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    &-wrapper-info {
        margin-right: 20px;
        max-width: 445px;
    }

    &-title {
        font-size: 76px;
        line-height: 1.28;
    }

    &-text {
        font-weight: 500;
        font-size: 35px;
        line-height: 1.27;
        margin-top: 15px;
    }
    &-phone-link {
        margin-top: 30px;
    }

    &-text-bold {
        font-weight: 700;
    }
}

