.characteristics {
  padding-top: 116px;
  padding-bottom: 114px;

  &-subtitle {
    text-align: center;
    font-size: 30px;
    line-height: 38px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 10px;
    width: 100%;
    margin-top: 46px;
  }

  &-card {
    width: calc((100% - 20px) / 3);
  }

  &-card-icon {
    margin: 0 auto;
  }

  &-card-text {
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
  }

  .characteristics {
    padding-top: 70px;
    padding-bottom: 70px;

    &-subtitle {
      font-size: 24px;
      line-height: 20px;
      text-align: center;
    }

    &-list {
      gap: 32px 62px;
      margin-top: 34px;
      padding: 0 50px;
    }

    &-card {
      width: calc((100% - 62px) / 2);
    }

    &-card-icon {
      width: 90px;
      height: 90px;
    }
    &-card-text {
      margin-top: 25px;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
