.description {
  background-image: $bgr-color;

  &-wrapper {
    display: flex;
    height: 640px;
  }

  &-wrapper-info {
    width: 55%;
  }

  &__position {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &-wrapper-text {
    max-width: 588px;
    padding: 46px 20px;
    line-height: 23px;
  }

  &-subtitle {
    font-size: 27px;
    line-height: 32px;
    &_hot {
      color: $hot-color;
    }

    &_cold {
      color: $cold-color;
    }
  }

  &-text {
    margin-top: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
  }

  &-wrapper-logo {
    position: relative;
    width: 45%;
    height: 100%;
    overflow: hidden;
  }

  &-pic {
    position: absolute;
    width: 100%;
    height: 647px;
    margin-left: 24px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
  .description {
    &-wrapper {
      height: 566px;
    }

    &-wrapper-text {
      padding: 32px 0;
      width: 345px;
    }

    &-wrapper-info {
      width: 50%;
    }

    &-subtitle {
      font-size: 24px;
    }

    &-text {
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
    }

    &-wrapper-logo {
      width: 50%;
    }

    &-pic {
      height: 566px;
    }
  }
}

@media (max-width: 768px) {
  .description {
    &-wrapper {
      display: block;
      width: 100%;
      height: auto;
    }

    &__position {
      position: static;
      transform: translate(0);
    }

    &-wrapper-info {
      width: 100%;
    }

    &-wrapper-text {
      max-width: 100%;
      width: 100%;
      padding: 42px 0;
    }

    &-wrapper-logo {
      width: 100%;
      height: 416px;
    }

    &-pic {
      margin-left: 0;
      height: 416px;
    }
  }
}

@media (max-width: 480px) {
  .description {
    &-wrapper-text {
      width: 100%;
    }

    &-wrapper-logo {
      height: 375px;
    }

    &-img {
      height: 375px;
    }

    &-subtitle {
      font-size: 22px;
      line-height: 26px;
    }
  }
}
