.description {
    background-image: $bgr-color;

    &-wrapper {
        display: flex;
        position: relative;
    }

    &-wrapper-info {
        width: 55%;
    }

    &-wrapper-text {
        max-width: 546px;
        position: absolute;
        top: 115px;
        left: 250px;
    }

    &-subtitle {
        max-width: 546px;

        &_hot {
            color: $hot-color;
        }

        &_cold {
            color: $cold-color;
        }
    }

    &-text {
        margin-top: 32px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.3;
        text-transform: uppercase;
    }

    &-wrapper-logo {
        margin-left: auto;
        width: 45%;
    }

    &-img {
        width: 100%;
    }

}