.footer {
  background-color: $grey-color;
  padding: 38px 0;
  margin: 0 auto;

  &-wrapper {
    display: flex;
  }

  &-wrapper-right {
    width: 50%;
    margin-left: 23px;
  }
  &-wrapper-left {
    width: 50%;
  }

  &-description {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    color: $white-color;
  }

  &-menu {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.25;
    color: $white-color;
    display: flex;
    gap: 70px;
  }

  &-menu-column {
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-first {
      align-items: flex-start;
    }

    &-second {
      align-items: center;
    }
    &-third {
      align-items: flex-end;
    }
  }

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
  }

  &-socials {
    justify-content: end;
    display: flex;
    gap: 12px;
  }
}

.menu-link-footer {
  font-size: 15px;
}

@media (max-width: 1024px) {
  .footer {
    &-socials {
      display: none;
    }

    &-wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
    }

    &-wrapper-left {
      width: 120px;
    }

    &-wrapper-right {
      width: 535px;
    }

    &-logo-icon {
      width: 120px;
      height: 78px;
    }

    &-description {
      position: absolute;
      bottom: 35px;
      right: 0;
      font-size: 11px;
      line-height: 15px;
    }

    &-menu-column {
      gap: 20px;
    }

    &-description {
      bottom: 35px;
      right: 176px;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
    &-wrapper {
      justify-content: center;
      align-items: center;
    }
    &-wrapper-right {
      display: none;
    }

    &-description {
      position: static;
      max-width: 260px;
      text-align: center;
      line-height: 16px;
    }

    &-inner {
      justify-content: center;
      align-items: center;
    }
  }
}
