.header {
    position: absolute;
    width: 100%;
    padding-top: 12px;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-logo-link {
        margin-right: 69px;
    }

    &-menu {
        display: flex;
        gap: 42px;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 1.25;
        color: $black-color;
    }
}

// @media (max-width: 991px) {
 
//   }
//   @media (min-width: 480px) {
   
  
//   }
