.order {
  padding-bottom: 379px;
  position: relative;
  &-banner {
    width: 100%;
    height: 100%;
  }

  &-wrapper {
    position: absolute;
    bottom: 178px;
    left: 50%;
    transform: translateX(-50%);
    width: 981px;
    margin: 0 auto;
    display: flex;
    background-image: $bgr-color;
    padding: 50px 55px 54px;
  }

  &-wrapper-left {
    margin-right: 182px;
  }

  &-wrapper-left:before {
    content: '';
    width: 1px;
    height: 231px;
    background-color: #000;
    position: absolute;
    top: 50px;
    left: calc(50% - -85.5px);
    transform: translateX(-50%);
  }

  &-wrapper-right {
    max-width: 263px;
    margin-left: auto;
  }

  &-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;
    &-bold {
      font-weight: 700;
    }
  }
}

.contacts {
  &-list {
    margin-top: 30px;
  }

  &-title {
    font-size: 30px;
    line-height: 1.26;
  }

  &-item-link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
  }
}

.contacts-item + .contacts-item {
  margin-top: 25px;
}

.socials {
  display: flex;
  gap: 12px;
}
.socials-link {
  fill: $red-secondary-color;
  cursor: pointer;
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover {
  fill: $black-color;
}

.order-phone-link {
  margin-top: 20px;
  display: inline-block;
  background-image: $red-color;
  color: $white-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  text-transform: uppercase;
  padding: 20px 25px;
  transition: background-image 6000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-phone-link:hover,
.order-phone-link:focus {
  background-image: linear-gradient(180deg, #c41e20 100%, #ea5c68 0%);
}
@media (max-width: 1024px) {
  .order > .container {
    padding: 0;
  }

  .order {
    padding-bottom: 0;

    &-wrapper {
      width: 100%;
      position: static;
      transform: translateX(0);
      padding: 40px 40px 90px 40px;
    }

    &-wrapper-left {
      margin-right: 50px;
    }

    &-wrapper-left:before {
      left: calc(50% + 20px);
      height: 206px;
    }

    &-title {
      text-align: end;
    }

    &-banner {
      min-height: 532px;
      width: 100%;
    }
  }

  .contacts {
    &-title {
      font-size: 24px;
      line-height: 32px;
    }

    &-item-link {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

@media (max-width: 768px) {
  .order {
    &-banner {
      display: none;
    }
    &-wrapper {
      padding: 0;
      flex-direction: column;
      padding: 32px;
    }
    &-wrapper-left:before {
      content: '';
      display: none;
    }

    &-wrapper-right {
      order: 1;
      margin-left: 0;
    }

    &-wrapper-left {
      order: 2;
      margin-top: 66px;
      padding-bottom: 16px;
    }

    &-title {
      text-align: left;
      font-size: 23px;
      line-height: 30px;
    }
    &-phone-link {
      padding: 13px 16px;
      font-size: 16px;
      line-height: 20px;
    }

    &-red-diamond {
      width: 25px;
      height: 25px;
      background-image: $red-color;
      position: absolute;
    }

    &-top {
      top: -12px;
      left: 10%;
      transform: translateX(-50%) rotate(45deg);
    }

    &-bottom {
      top: 179px;
      right: 5%;
      transform: translateX(-50%) rotate(45deg);
    }
  }
}
