.model {
  padding-top: 106px;
  padding-bottom: 142px;

  &-title {
    line-height: 38px;

    &-accent {
      color: $grey-color;
    }
  }
}

.model .slider {
  display: flex;
  align-items: center;
}
.slick-track {
  display: flex !important;
  align-items: center;
  min-height: 662px;
}

.swiper-card-wrapper {
  width: 80%;
  margin: 0 auto;
  transition: width 0.3s;
}

.slick-center {
  .swiper-card-wrapper {
    width: 100%;
  }
}

.swiper-list {
  position: relative;
  margin-top: 20px;
}

.custom-prev-arrow,
.custom-next-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 96px;
  height: 96px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.custom-prev-arrow {
  left: 0;
  margin-right: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.custom-next-arrow {
  right: 0;
  margin-left: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
}

@media (max-width: 1024px) {
  .model {
    padding-top: 84px;
    padding-bottom: 76px;
  }

  .slider-img {
    display: block;
    margin: 0 auto;
  }

  .swiper-list {
    margin-top: 6px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 32px;
  }

  .model {
    padding-top: 74px;
    padding-bottom: 92px;
  }
  // .slider {
  //   min-height: 470px;
  // }

  .model-title {
    max-width: 200px;
  }

  .custom-prev-arrow-icon {
    width: 25px;
    height: 25px;
  }

  .custom-next-arrow {
    width: 25px;
    height: 25px;
  }
}
